# ==========================================
# 1. ВИРТУАЛЬНЫЕ ОКРУЖЕНИЯ (Самое важное!)
# ==========================================
.venv/
venv/
env/
ENV/

# ==========================================
# 2. КЭШ И СКОМПИЛИРОВАННЫЙ КОД PYTHON
# ==========================================
__pycache__/
*.py[cod]
*$py.class
*.so


# ==========================================
# 4. СЕКРЕТЫ И КОНФИГИ (Пароли, токены, ключи)
# ==========================================
.env
.env.local
secrets.json
config.ini

# ==========================================
# 5. НАСТРОЙКИ РЕДАКТОРОВ И ОС
# ==========================================
# VS Code
.vscode/
# PyCharm / IntelliJ
.idea/
*.swp
*.swo
# Windows
Thumbs.db
.DS_Store # Mac